@charset "UTF-8";
body {
	overflow-y: scroll;
    background-color: #efffd2;
    font-family: Lucida Console,Monaco, Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono, monospace;
}
button{
	font: inherit;
}
button:hover{
	background-color: yellow;
}
input {
	border: 1px solid WhiteSmoke;
	font-family: Lucida Console,Monaco,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono, monospace;
}
input:focus { background-color: white; caret-color: red; }
table{		
}
th{
	border: 1px solid #339966;
	text-align: right;
}
.a1 {
  width: 1em;
  min-width: 1em;
  max-width: 1em;
  background-color: white;
  color: black; 
  text-align: center;
  border: none;
  font: inherit;
  height: 1.5em;
  margin-left: 0px;
  margin-right: 0px;
}
.bar{
	border: 1px solid #339966;
	background-color: #339966;
}
.blackbox{
    width: 5em;
    text-align: center;
}
.blank{
	border: none;
}
.compressed{
	border-collapse: collapse;
	margin: 0px;
	border: 0px;
	padding: 0px;
}
.conversion{
	border-collapse: separate;
	border: 1px solid #339966;
}

.digits{
	border-collapse: collapse;
	padding: none;
	margin: none;
	border: none;
	width: 6em;
	max-width: 6em;
}
.dvsr{
	font: inherit;
	background-color: white;
	width: 5em;
	min-width: 5em;
	max-width: 5em;
	text-align: right;
}
.ebox{
	text-align: right;
	width: 7em;
	border: none;
	height: 1.5em;
	font: inherit;
	letter-spacing: 0.6em;
}
.entry{
	background-color:  #339966;
}
.evenstripe{
	background-color: #ffffff;
}

.invisible{
	border: none;
	text-align: right;
	color: #efffd2;
}
.leftsd{
	float: left;
}
.mgn{
	background-color: #efffd2;
	color: #339966;
}
.mult{
	/* border-bottom: 2px solid #339966; */
	font-weight: bold;
	border-collapse: collapse;
	margin: 0px;
}
.nbox{
	text-align: right;
	width: 8em;
	height: 30px;
	font: inherit;	
}
.not{
	border: 1px solid #efffd2;
	background-color: #efffd2;
}
.oddstripe{
	background-color:  #c6ecc6;
	/* background-color: #a4ec42; */
}
.probset{
	border-collapse: collapse;
	border: 1px solid #339966;
}
.q{
	font-weight: bold;
}
.rightsd{
	float: right;
}
.shortbox {
  width: 4em;
  min-width: 4em;
  max-width: 4em;
  background-color: white;
  color: black; 
  text-align: center;
  border: none;
  font: inherit;
  height: 1.5em;
  margin-left: 0px;
  margin-right: 0px;
}
.slct{
	font: inherit;
	border: none;
	width: 5em;
	min-width: 5em;
	max-width: 5em;
	text-align: right;
}
.sym{
    text-align: center;
    color: #339966;
    font-weight: bold;
    font-family: Arial;
}
.verticalTableHeader {
    text-align:center;
    white-space:nowrap;
    transform-origin:50% 50%;
    transform: rotate(90deg);

}
.verticalTableHeader:before {
    content:'';
    padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
    display:inline-block;
    vertical-align:middle;
}
#bottomleft{
	position: fixed;
	left: 2%;
	bottom: 5%;
}

#final{
	border: 2px solid #339966;
/*	margin: 5%;
	margin-right: 15%; */
	position: fixed;
	top: .4em;
	right: 20%;
	text-align: center;
}
#instrs{
	font-weight: bold;
}
#instr3{
	color: #efffd2;
}
#instr4{
	color: #efffd2;
}
#score{
	position: fixed;
	top: 5em;
	right: 2%;
}
#xrcise{
	position: fixed;
	left: 2%;
	top: 6em;
	bottom: 4em;
	overflow-y: scroll;
}