@charset "UTF-8";
body
{
	background: #e6ffff;
	position:absolute;
	padding:0;
	margin:0;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
}
button{
	font: inherit;
}

input{
	width: 3em;
	font: inherit;
}
.invisible{
	border: none;
	text-align: right;
	color: #e6ffff;
}
.line
{
	position:absolute;
}
.rightsd{
	float: right;
}
.slct{
	font: inherit;
	border: none;
	width: 7em;
	min-width: 7em;
	max-width: 7em;
	text-align: center;
	position: fixed;
	left: 50px;
	top: 25px;
}
.title{
		border: 2px solid #339966;
}
#bottomleft{
	position: fixed;
	left: 2px;
	bottom: 5px;
}
/*
#frame{
	background: #ffe6b3;
	border: 2px solid #e6e600;
	border-top-color: #f0e6c3;
    border-left-color: #f0e6c3;
    background:  #ffe274;
    border-bottom-color:#b38f00;
    border-right-color: #b38f00;
	position: absolute;
	top: 60px;
	left: 50px;
	width: 424px;
	height: 424px;
} */
/*
#horizontal{
	border: 1px solid pink;
	width: 400px;
	height: 0px;
    position: absolute;
    top: 252px;
	left: 50px;
} */
#instr2{
	position: fixed;
	left: 200px;
	top: 25px;
}
#instrs{
	position: fixed;
	left: 50px;
}
#preload {
	height:0;
	overflow:hidden;
}
#score{
	position: fixed;
	top: 5em;
	right: 2px;
}
/*
#vertical{
	border: 1px solid pink;
	width: 0px;
	height: 400px;
    position: absolute;
    top: 50px;
	left: 249px;
} */
#xygraph{
	position: absolute;
	top: 60px;
	left: 50px;
	width: 444px;
	height: 444px;
}