@charset "UTF-8";
body
{
	background: #e6ffff;
	position:absolute;
	padding:0;
	margin:0;
	font-family: Copperplate, Copperplate Gothic Light, fantasy;
}
button{
	font: inherit;
}

input{
	width: 2em;
	font: inherit;
}
.invisible{
	border: none;
	text-align: right;
	color: #e6ffff;
}
.line
{
	position:absolute;
}
.rightsd{
	float: right;
}
.slct{
	font: inherit;
	border: none;
	width: 9em;
	min-width: 9em;
	max-width: 9em;
	text-align: center;
	position: fixed;
	left: 50px;
	top: 25px;
}
.title{
		border: 2px solid #339966;
}
#bottomleft{
	position: fixed;
	left: 2px;
	bottom: 5px;
}
#instr2{
	position: fixed;
	left: 220px;
	top: 25px;
}
#instrs{
	position: fixed;
	left: 50px;
}
#preload {
	height:0;
	overflow:hidden;
}
#score{
	position: fixed;
	top: 5em;
	right: 2px;
}
#xygraph{
	position: absolute;
	top: 60px;
	left: 50px;
	width: 444px;
	height: 444px;
}